html {
  height: 100%;
}

body {
  background-image: url(obito-uchiha-naruto-hd-stg9wcwt5qh8ven3.webp);
  height: 100%;
  background-size: cover;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
}
.baba {
  margin: 3rem;
}

span {
  color: red;
}

button {
  background-color: rgb(127, 67, 133);
  color: aliceblue;
  border: 0;
  padding: 0.5rem;
  border-radius: 5px;
  cursor: pointer;
}
button:hover {
  background-color: blueviolet;
}

h1 {
  color:rgb(146, 136, 118);
}

input {
  border-radius: 5px;
  border: 0;
  padding: 0.6rem;
}

.model {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}

.model__overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.model__content {
  background-color: aliceblue;
  padding: 4rem;
  position: relative;
  cursor: pointer;
}

.model.open {
  display: flex;
}
